{% extends 'timer/index.html' %}
{% load staticfiles %}

{% block seo %}
    <title>{{ page_info.title }} | {{ about_page_info.title }} </title>
    <meta name="description" content="{{ page_info.seo_description }}, {{ about.description }}">
    <meta name="keywords" content="{{ page_info.seo_keywords }}, {{ about.keywords }}">
{% endblock %}

{% block content %}

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>{{ about_page_info.title }}</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'homepage' %}">
                                        <i class="ion-ios-home"></i>
                                        Αρχική Σελίδα
                                    </a>
                                </li>
                                <li class="active">Σχετικα</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
        <section class="company-description">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <img src="{% static 'images/my_images/personal.jpg' %}" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            {{ about.text|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Company Feature Section Start
        ================================================== -->
        <section class="about-feature clearfix">
            <div class="container-fluid">
                <div class="row">
                    {% for msg in about_messages %}
                        <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="{{ msg.delay }}">
                        <h2>
                            {{ msg.title }}
                        </h2>
                        <p>
                            {{ msg.text }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Team Section Start
        ================================================== -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <h2 class="subtitle text-center">Τεχνολογιες</h2>
                    {% for techo in about_techo %}
                        <div class="col-md-3">
                            <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ techo.delay }}">
                                <div class="team-img">
                                    <img src="{{ techo.image.url }}" class="team-pic" alt="{{ techo.title }}">
                                </div>
                                <h3 class="team_name">{{ techo.title }}</h3>
                                <p class="team_designation">{{ techo.text }}</p>
                                <p class="team_text"></p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!--
        ==================================================
        Clients Section Start
        ================================================== -->
        <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="subtitle text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Οι Πελατες μας!</h2>
                        <p class="subtitle-des text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Δείτε ποιοί με εμπιστεύτηκαν.</p>
                        <div id="clients-logo" class="owl-carousel">
                            {% for client in about_clients %}
                                <div>
                                    <img src="{{ client.image.url }}" alt="{{ client.title }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Θες να ρωτησεις κατι;</h2>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Θες να ρωτήσεις τις προτάσεις μου; <br>Θες ένα πιο προσωπικό website;</p>
                                <a href="{% url 'contact' %}" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Επικοινωνήστε μαζί μου</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

{% endblock %}