{% extends 'timer/index.html' %}
{% load staticfiles %}
{% block seo %}
    <title>{{ page_info.title }} | Υπηρεσίες</title>
    <meta name="description" content="{{ page_info.seo_description }}, υπηρεσίες">
    <meta name="keywords" content="{{ page_info.seo_keywords }}, υπηρεσίες">
{% endblock %}

{% block content %}

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Υπηρεσίες</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'homepage' %}">
                                        <i class="ion-ios-home"></i>
                                        Αρχική Σελίδα
                                    </a>
                                </li>
                                <li class="active">Υπηρεσίες</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->


        <!-- 
        ================================================== 
            Service Page Section  Start
        ================================================== -->
        <section id="service-page" class="pages service-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">What We Love To Do</h2>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro recusandae non quibusdam iure adipisci.</p>
                            <div class="row service-parts">
                                {% for service in object_list %}
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                        <i class="{{ service.icon }}"></i>
                                        <h4>{{ service.title }}</h4>
                                        <p>{{ service.text }}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <img class="img-responsive" src="{% static 'images/about/python-logo.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Works Section Start
        ================================================== -->
        <section class="works service-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Demo Sites </h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                       A collection of Demo Sites to see our skill with youe own perspective
                    </p>
                <div class="row">
                    {% for site in demo_sites %}
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper">
                                <img src="{{ site.image.url }}" class="img-responsive" alt="this is a title" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a target="_blank" href="Http://{{ site.href }}">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        {{ site.title }}
                                    </a>
                                </h4>
                                {{ site.short_description|safe }}
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- 
        ================================================== 
            Clients Section Start
        ================================================== -->
        <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">Our Happy Clinets</h2>
                        <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                        <div id="clients-logo" class="owl-carousel">
                            <div>
                                <img src="../../static/images/clients/logo-1.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../static/images/clients/logo-2.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../static/images/clients/logo-3.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../static/images/clients/logo-4.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../static/images/clients/logo-5.jpg" alt="">
                            </div>
                             <div>
                                <img src="../../static/images/clients/logo-1.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../static/images/clients/logo-2.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../static/images/clients/logo-3.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../static/images/clients/logo-4.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../static/images/clients/logo-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <!-- 
        ================================================== 
            Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s"   data-wow-duration="500ms">SO WHAT YOU THINK ?</h2>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                            <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>


{% endblock %}