{% extends 'english/index.html' %}
{% load staticfiles %}
{% block seo %}
    <title xmlns="http://www.w3.org/1999/html">{{ page_info.title_eng }} - Blog</title>
    <meta name="description" content="A blog by Christos Stathakis about  Web developing, updates....">
    <meta name="keywords" content="Blog, python, django, Web developing, ">
    <meta name="author" content="">
{% endblock %}

{% block content %}
        ==================================================
        Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Blog</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'homepage_eng' %}">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Blog</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->
            <section id="blog-full-width">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="sidebar">
                            <form action="" method="get" class="searchform" role="search">
                                <div class="search widget">
                                    <div class="input-group">
                                        {% if search_text %}
                                            <input name="search_text" type="text" class="form-control" placeholder="{{ search_text }}">
                                        {% else %} <input name="search_text" type="text" class="form-control" placeholder="Search for...">{% endif %}
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"> <i class="ion-search"></i> </button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                                <div class="author widget">
                                    <img class="img-responsive" src="{% static 'images/my_images/personal.jpg' %}">
                                        <div class="author-body text-center">
                                            <div class="author-img">
                                                <img src="{{ page_info.personal_photo.url }}">
                                            </div>
                                            <div class="author-bio">
                                                <h3>Christos Stathakis</h3>
                                                {{ about_me.text|safe }}
                                            </div>
                                        </div>
                                    </div>
                                <div class="categories widget">
                                    <h3 class="widget-head">Categories</h3>
                                    <ul>
                                        {% for category in post_categories %}
                                            <li>
                                            {% if category.id|stringformat:"s" in cate_name %}
                                                 <input onclick="this.form.submit()" name="cat_name" type="checkbox" value="{{ category.id }}" checked><label>{{ category }} {{ category.counts_posts_eng }}</label>
                                               {% else %}
                                                <input onclick="this.form.submit()" name="cat_name" type="checkbox" value="{{ category.id }}"><label>{{ category }} {{ category.counts_posts_eng }}</label>
                                            {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </form>
                                    <div class="recent-post widget">
                                        <h3>Updates</h3>
                                        <ul>
                                            {% for update in updates %}
                                            <li>
                                                <a href="#">{{ update }}</a><br>
                                                <time>{{ update.day_added }}</time>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                {% for post in posts %}
                                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                        <div class="blog-post-image">
                                            <a href="{% url 'blog_page_eng' post.slug %}"><img class="img-responsive" src="{{ post.file.url }}" alt="" /></a>
                                        </div>
                                        <div class="blog-content">
                                            <h2 class="blogpost-title">
                                            <a href="{% url 'blog_page_eng' post.slug %}">{{ post.title_eng }}</a>
                                            </h2>
                                            <div class="blog-meta">
                                                <span>{{ post.publish }}</span>
                                                <span>by <a href="">{{ post.user }}</a></span>
                                                <span><a href="">{{ post.category }}</a></span>
                                                <span><p>Likes: {{ post.likes.count }}</p></span>
                                            </div>
                                            {{ post.content|safe|truncatechars_html:20 }}
                                            <a href="{% url 'blog_page_eng' post.slug %}" class="btn btn-dafault btn-details">Continue</a>
                                        </div>
                                    </article>

                                {% endfor %}
                            </div>
                        </div>

                    <!--
                    ==================================================
                    Call To Action Section Start
                    ================================================== -->
                    <section id="call-to-action">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block">
                                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="300ms">SO WHAT YOU THINK ?</h2>
                                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="300ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                                        <a href="" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="300ms">Contact With Me</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
    {% endblock %}