<!DOCTYPE html>{% load staticfiles %} 

<html class="no-js">
<head>

    {% block seo %}
        <title>simply-chris | Homepage</title>
        <meta name="description" content="A blog about web development and more!">
        <meta name="keywords" content="Web Design, python, django">
    {% endblock %}

    {% include 'english/include/include_css.html' %}
    {% include 'english/include/inlude_js.html' %}
    {% block my_static %}{% endblock %}
    {% block additional_js %}{% endblock %}

</head>
<body>
    {% include 'english/include/navbar.html' %}
    
    {% block content %}
        <section id="hero-area" >
            <div class="row">
                    <div class="col-md-12 text-center">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning">
                                {{ message }}<br/>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>A blog about </span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Django</b>
                                    <b>Python tips</b>
                                    <b>Html CSS</b>
                                    <b>Javascript</b>
                                </span>
                                </h1>
                            </section> <!-- cd-intro -->
                                <!-- /.slider -->
                            <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                    In a sea of ordinary, make sure your website is set apart from the competition.
                            </h2>
                            <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works" >View Works</a>
                        </div>
                    </div>
                </div>
        </section>


        <section id="works" class="works">
            <div class="container">

                <div class="section-heading">
                    <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Works</h1>
                    <p class="wow fadeInDown" data-wow-delay=".5s">
                        See and explore my latest works!
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                    {% for project in projects %}
                        <div class="col-sm-4 col-xs-12">
                            <figure style="height: 400px" class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img src="{{ project.image.url }}" class="img-responsive" alt="{{ project.title_eng }}" >
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a href="{% url 'project_page_eng' project.slug %}">Details</a>
                                        </div>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                <a href="{% url 'project_page_eng' project.slug %}">
                                    {{ project.title_eng }}
                                </a>
                                </h4>
                                <p>
                                    {{ project.short_description_eng }}
                                </p>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                    About
                                </h2>
                                <p>tesssss</p>
                                <a class="btn-lines dark light wow fadeInUp animated  btn btn-default btn-green" data-wow-delay=".9s" href="{% url 'about_eng' %}">Continue</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <img src="{% static 'images/my_images/personal.jpg' %}" alt="{{ page_info.title_eng }}" title="{{ page_info.title_eng }}">
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /#about -->

        <section id="feature">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">Blog</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            Discover my latest posts
                        </p>
                    </div>
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <img class="img-responsive" src="{{ post.file.url }}">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{% url 'blog_page_eng' post.slug %}">{{ post.title_eng }}</a></h4>
                                    <p>{{ post.content_eng|safe|truncatechars_html:20 }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section> <!-- /#feature -->

        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">NewsLetter</h2>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                    </ul>
                            {% endif %}
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                                Get the lastest info and  news first!
                            </p>
                            <form id="subscribe" method="post">{% csrf_token %}
                                {{ form }}
                                <button class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms" type="submit" value="Subscribe" id="email_submit">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {% include 'english/include/europe_cookie.html' %}
    <footer id="footer">
        <div class="container">
            <div class="col-md-8">
                <p class="copyright">Copyright: <span>2018</span> . Design and Developed by <a href="/">Christos Stathakis</a></p>
            </div>
            <div class="col-md-4">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/christos.stathakis.39" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/Zefarak" class="Github">
                            <i class="ion-social-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://wwww.fb.com/themefisher" class="Google Plus">
                            <i class="ion-social-googleplus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer> <!-- /#footer -->
 </body>
</html>