{% extends 'english/index.html' %}
{% block seo %}
    <title>simply-chris | {{ object.title_eng }}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}

{% block content %}
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Project title: {{ object.title_eng }}</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'homepage_eng' %}">
                                    <i class="ion-ios-home"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'gallery_eng' %}">
                                    <i class="ion-ios-home"></i>
                                    Projects
                                </a>
                            </li>
                            <li class="active">{{ object.title_eng }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-single-img">
                        <img class="img-responsive" alt="" src="{{ object.image.url }}">
                    </div>
                    <br><br>
                    <div class="block">
                        <h2 class="text-center">{{ projects.title_eng }}</h2>
                        <div class="portfolio-meta">
                            <span>{{ object.day_added }}</span>|
                            <span> Category:  {{ object.category.title_eng }}</span>|
                            <span> website: <a style="color:black;" target="_blank" href="{{ object.href }}">{{ object.href }}</a></span>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        {{ projects.description_eng|safe }}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="container">
                    <a style="width: 200px;" target="_blank" href="{{ projects.href }}" class="btn btn-info"> See the Site</a>
                    <a style="width: 200px;float: right;" target="_blank" href="{{ projects.github }}" class="btn btn-info">
                        See the code on github
                    </a>
                </div>
            </div>
        </div>
    </section>
            <section class="works works-fit">
            <div class="container">
                <h2 class="subtitle">See more</h2>
                    <p class="subtitle-des">
                       Some screenshots about the project
                    </p>
                <div class="row">
                    {% for image in images %}
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item animated" data-wow-duration="500ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
                                <div class="img-wrapper">
                                    <img src="{{ image.image.url }}" class="img-responsive" alt="this is a title">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="gallery" class="fancybox" href="../../static/images/portfolio/item-1.jpg">Demo</a>
                                        </div>
                                    </div>
                                </div>
                             <figcaption>
                                 <h4><a href="#">{{ image.title }}</a></h4>
                                 <p>{{ image.text }}</p>
                             </figcaption>
                         </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        
           <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">so what do you think?</h2>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">You wanna hear my suggestions? <br>You want a different website that the other use?</p>
                                <a href="" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact with me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}