{% extends 'timer/index.html' %}{% load static %}

{% block my_static %}
    <link rel="stylesheet" href="{% static 'short_url/short_url.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>

{% endblock %}

{% block content %}
    <div id="short-banner" class="row short-banner">
        <form method="post" id="banner-form" class="form-inline">{% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">URL</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="id_url" name="url" placeholder="Put you url here" required>
                    <div class="input-group-addon">.00</div>
                </div>

                <label class="sr-only" for="exampleInputAmount">Your Code</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" name='costumer_code' id="costumer_code" placeholder="Put your code here">
                    <div class="input-group-addon">.00</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Get Short URL</button>
        </form>

        {% if messages %}
            {% for message in messages %}
                 <div class="row">
                    <h1>Results</h1>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h2>Copy Input Value to Clipboard</h2>
                                <input type="text" class="form-control" id="txt-copy" value="{{ message }}">
                                <button type="button" data-clipboard-target="#txt-copy" class="btn btn-primary copy-button" alt="Copy to clipboard">Copy To Clipboard</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
          $(document).ready(function(){
            $('#header').load('../header-ads.html');
            $('#footer').load('../footer-ads.html');

            var clipboard = new Clipboard('.btn');
             clipboard.on('success', function(e) {
                console.log(e);
            });

            clipboard.on('error', function(e) {
                console.log(e);
            });
          });
    </script>
{% endblock %}