{% extends 'timer/index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block my_static %}
    <link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div style="margin-top: 5%" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Επέλεξε Εικόνα</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body col-md-12">
                    <div class="col-md-6">
                        <table id="gallery" class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Photo</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for photo in images %}
                              <tr>
                                <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div style="margin-bottom: 20px;">
                            <button type="button" class="btn btn-primary js-upload-photos">
                              <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
                            </button>
                            <input id="fileupload" type="file" name="file" multiple
                                   style="display: none;"
                                   data-url="{% url 'create_blog' %}"
                                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6">
            <h1 class="page-header">Preview</h1>
              <!--
        ==================================================
        Global Page Section Start
        ================================================== -->
            <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <h2>Works</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'homepage' %}">
                                        <i class="ion-ios-home"></i>
                                        Αρχική Σελίδα
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'gallery' %}">
                                        <i class="ion-ios-home"></i>
                                        Projects
                                    </a>
                                </li>
                                <li class="active">Projects</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->
            <section class="portfolio-single">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-single-img">
                                <img class="img-responsive" alt="" src="{{ projects.image.url }}">
                            </div>
                            <div class="block">
                                <h2 id="title_show">Insert..</h2>
                                <div class="portfolio-meta">
                                   <span>{{ projects.day_added }}</span>|
                                   <span> Category:  {{ projects.category }}</span>|
                                   <span> website: <a target="_blank" href="http://{{ projects.href }}">{{ projects.href }}</a></span>
                                </div>
                            </div>
                            <div id='content_show' class="portfolio-content">
                               Insert....
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="works works-fit">
            <div class="container">
                <h2 class="subtitle">Δες περισσότερα</h2>
                    <p class="subtitle-des">
                       Some screenshots about the project
                    </p>
                <div class="row">
                    {% for image in images %}
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item animated" data-wow-duration="500ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
                                <div class="img-wrapper">
                                    <img src="{{ image.image.url }}" class="img-responsive" alt="this is a title">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="gallery" class="fancybox" href="../../static/images/portfolio/item-1.jpg">Demo</a>
                                        </div>
                                    </div>
                                </div>
                             <figcaption>
                                 <h4><a href="#">{{ image.title }}</a></h4>
                                 <p>{{ image.text }}</p>
                             </figcaption>
                         </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

           <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Θες να ρωτησεις κατι;</h2>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Θες να ρωτήσεις τις προτάσεις μου; <br>Θες ένα πιο προσωπικό website;</p>
                                <a href="{% url 'contact' %}" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Επικοινωνήστε μαζί μου</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-md-6">
            <h1 class="page-header">Δημιουργία Post</h1>
            <form method="post" enctype="multipart/form-data" id="formUpload">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}

                      <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                      </div>
                {% endfor %}
                <div class="form-group">
                  <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Save
                  </button>
                  <a href="{% url 'homepage' %}" class="btn btn-default">Cancel</a>
                </div>
            </form>
            <!-- MODAL TO CROP THE IMAGE -->
            <div class="modal fade" id="modalCrop">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Crop the photo</h4>
                    </div>
                    <div class="modal-body">
                      <img src="" id="image" style="max-width: 100%;">
                    </div>
                    <div class="modal-footer">
                      <div class="btn-group pull-left" role="group">
                        <button type="button" class="btn btn-default js-zoom-in">
                          <span class="glyphicon glyphicon-zoom-in"></span>
                        </button>
                        <button type="button" class="btn btn-default js-zoom-out">
                          <span class="glyphicon glyphicon-zoom-out"></span>
                        </button>
                      </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                      <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
                    </div>
                  </div>
                </div>
            </div>
            <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
            <div class="row" style="margin-top: 20px">
                {% for photo in photos %}
                  <div class="col-sm-4 col-md-3">
                    <img src="{{ photo.file.url }}" class="thumbnail">
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('id_content');
    </script>

    {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'jquery_upload/js/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'jquery_upload/js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'jquery_upload/js/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script>
  $(function () {
  /* 1. OPEN THE FILE EXPLORER WINDOW */
  $(".js-upload-photos").click(function () {
    $("#fileupload").click();
  });

  /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
  $("#fileupload").fileupload({
    dataType: 'json',
    done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
      if (data.result.is_valid) {
        $("#gallery tbody").prepend(
          "<tr><td><a href='" + data.result.url + "'>" + data.result.name + "</a></td></tr>"
        )
      }
    }
  });

});
  </script>

    <script>
        $("#id_username").change(function () {
            console.log($(this).val());
        });
    </script>
    <script>
        function myTitle() {
            var x = document.getElementById('id_title').value;
            console.log(x)
            document.getElementById('title_show').innerHTML = x
        }
        function myContent() {
            var x = document.getElementById('id_content').value;
            console.log(x)
            document.getElementById('content_show').innerHTML = x
        }
        function myTitle() {
                var x = document.getElementById('id_title').value;
                console.log(x)
                document.getElementById('title_show').innerHTML = x
            }
        function myTitle() {
                var x = document.getElementById('id_title').value;
                console.log(x)
                document.getElementById('title_show').innerHTML = x
            }
        function myTitle() {
                var x = document.getElementById('id_title').value;
                console.log(x)
                document.getElementById('title_show').innerHTML = x
            }
        function myTitle() {
                var x = document.getElementById('id_title').value;
                console.log(x)
                document.getElementById('title_show').innerHTML = x
            }
    </script>

    <script src="{% static 'js/cropper.min.js' %}"></script>
    <script>
        $(function () {
      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });
      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });
      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });
      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });
      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });
    });
  </script>

{% endblock %}
